@import "tailwindcss";

@font-face {
  font-family: "Grotesk S SH Book";
  src: url("/fonts/GroteskS-SH-Book.woff2") format("woff2"),
       url("/fonts/GroteskS-SH-Book.woff") format("woff"),
       url("/fonts/GroteskS-SH-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



/* Apply font globally */
body {
  font-family: "Grotesk S SH Book", sans-serif;
}


  color{
    coreBlue: #578CFF;
  }